[www]

user = "{{ php_fpm_user }}"
group = www-data

listen = /run/php/php7.0-fpm.sock

listen.owner = "{{ php_fpm_user }}"
listen.group = www-data

pm = dynamic

pm.max_children = 5

pm.start_servers = 2

pm.min_spare_servers = 1

pm.max_spare_servers = 3
